<div id="wrapper">
    <%= render 'layouts/user-nav' %>
</div>
<div class="image1">
    <div class="home-contents">
        <div class="top-contents">
            <h1 class="home-text">MUSICFES.LIFE</h1>
        </div>
        <div class="home-btn">
            <%= link_to "/festivals" do %>
                <p class="btnText">READY?</p>
                <div class="btnTwo">
                <p class="btnText2">GO!</p>
                </div>
            <% end %>
        </div>
    </div>
</div>
<script>
$(function() {
    $(".home-text").textillate({
        in: {
            effect: 'rotateIn',
            delay: 50,
            shuffle: true
        }
    });
});
</script>