


<div class="home-top">
    <div class="top-contents">
        <h1 class="home-text">MORE LAREN MUSIC FESTIVAL</h1>
        <p class="text">知っとこう世界の楽しそうなこと</p>
    </div>
    <div id="link-btn">
        <%= link_to 'START', "/festivals" %>
    </div>
</div>
