// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul {
    list-style: none;
  }

.index-festival {
    margin-bottom: 30px;
    border: solid 6px #0c2c2e;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    background-color: white;
    border-radius: 30px
    
}

.festival-image {
    border-radius: 35px;
    border: solid 2px #67c5ff;
  }
  