// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.top-contents {
  margin-top: 150px;
  text-align: center;
}

.home-text {
    font-size: 100px;
    text-align: center;
    opacity: 0.7;
    color: white;
    margin: 0 auto;
}

.text {
    font-size: 70px;
    text-align: center;
    opacity: 0.7;
    color: white;
    margin-top: 20px;
    margin: 0 auto;
}

#skippr-container{
	height: 800px;
  }
  .image1{
  background-image: url(/images/home-top.jpeg);
  position: relative;
  
  }
  .image2{
  background-image: url(/images/skipper2.jpeg);
  background-position: center;
  position: relative;
  }
  .image3{
  background-image: url(/images/skipper3.jpeg);
  background-position: center;
  position: relative;
  }

  .image4{
	background-image: url(/images/skipper1.jpeg);
	background-position: center;
	position: relative;
  }

  .map-index {
    box-shadow:0px 0px 10px;
    border: 3px solid #000;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 0.8;
  }
  
  
  .map-index:hover {
    opacity: 1;
  }


  .home-btn {
    background: #3D4C53;
    margin : 0 auto;
    width : 30%;
    height : 60px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 30px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    margin-top: 150px;
    opacity: 0.6;
  }
  .btnTwo {
    position : relative;
    width : 200px;
    height : 120px;
    margin-top: -100px;
    padding-top: 2px;
    background : #26A69A;
    left : -250px;
    transition : .4s;
  }
  .btnText {
    color : white;
    font-size: 40px;
    transition : .3s;
  }
  .btnText2 {
    margin-top : 63px;
    margin-right : -140px;
    font-size: 35px;
    text-align: center;
    color : #FFF;
  }
  .home-btn:hover .btnTwo{ 
    left: -110px;
  }
  .home-btn:hover .btnText{
    margin-left : 65px;
  }
  .home-btn:active { 
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }

  .home-btn:hover {
    opacity: 1;
  }