// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.top-contents {
    text-align: center;
}

.home-text {
    font-size: 100px;
    text-align: center;
    opacity: 0.7;
    color: white;
    margin: 0 auto;
}

.text {
    font-size: 70px;
    text-align: center;
    opacity: 0.7;
    color: white;
    margin-top: 20px;
    margin: 0 auto;
}

#skippr-container{
	height: 800px;
  }
  .image1{
  background-image: url(home-top.jpeg);
  position: relative;
  
  }
  .image2{
  background-image: url(skipper2.jpeg);
  background-position: center;
  position: relative;
  }
  .image3{
  background-image: url(skipper3.jpeg);
  background-position: center;
  position: relative;
  }

  .image4{
	background-image: url(skipper1.jpeg);
	background-position: center;
	position: relative;
  }
	